{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru">
   <head>
      <meta charset="utf-8">
      <title>Главная</title>
      <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
      <meta name="theme-color" content="#8da3c8">
   </head>
   <body data-home-page="index.html" data-home-page-title="index" class="u-body u-xl-mode">
      <header class="u-header u-align-center">
         <div class=" u-sheet">
            <nav class="u-menu-1">
               <div class="u-nav-container">
                  <ul class=" u-spacing-30 u-nav-1">
                     <li class="u-nav-item"><a href="{% url 'index'%}">Главная</a></li>
                     <li class="u-nav-item"><a href="{% url 'massage'%}">Массаж</a></li>
                     <li class="u-nav-item"><a href="{% url 'sport'%}">Спорт</a></li>
                     <li class="u-nav-item"><a href="{% url 'analyzes'%}">Анализы</a></li>
                  </ul>
               </div>
            </nav>
         </div>
      </header>
      <section class="u-align-center u-palette-1-light-2 u-section-1">
         <div class=" u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1">
            <div class="u-shape u-shape-svg u-text-palette-1-light-3 u-shape-1"
            <svg class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-e858" style="enable-background:new 0 0 160 160;">
               <path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30 M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80
                  s80-35.8,80-80S124.2,0,80,0L80,0z"></path>
            </svg>
         </div>
         <div class="u-image u-image-circle u-image-1" data-image-width="1330" data-image-height="1252" style = "background-image: url({% static 'images/2024-01-0115.15.19.png' %}"></div>
         <div class="u-palette-2-light-2 u-shape u-shape-circle u-shape-2"></div>
         <div class="u-shape u-shape-svg u-text-white u-shape-3" >
            <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" style="">
               <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a0bf"></use>
            </svg>
            <svg class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-a0bf" style="enable-background:new 0 0 160 160;">
               <path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30 M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80
                  s80-35.8,80-80S124.2,0,80,0L80,0z"></path>
            </svg>
         </div>
         <div class="u-align-left u-container-align-left u-container-style u-expanded-width-xs u-group u-shape-rectangle u-white u-group-1">
            <div class="u-container-layout u-container-layout-1">
               <h2 class="u-align-left u-text u-text-1"> Центр<br>медицинской<br>диагностики
               </h2>
               <p class="u-align-left u-large-text u-text u-text-variant u-text-2"> ООО «Каспер» – компания, которая готова обеспечить вам максимальный комфорт и экономию при получении медицинских услуг. Мы сопровождаем клиента на всех этапах – от выбора клиники и специалиста до полного завершения лечения</p>
            </div>
         </div>
         </div>
      </section>
      <section class=" u-section-2">
         <div class=" u-sheet u-valign-middle u-sheet-1">
            <h2 class="u-align-center u-text u-text-default u-text-1"> Почему именно мы?</h2>
            <p class="u-align-center u-text u-text-2"> «Каспер» - это многопрофильный медицинский центр, который оказывает широкий спектр услуг по диагностике, лечению и реабилитации пациентов.</p>
            <div class="u-expanded-width u-list u-list-1">
               <div class="u-repeater u-repeater-1">
                  <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
                     <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                        <div class="custom-expanded u-align-center u-image u-image-circle u-preserve-proportions u-image-1" style = "background-image: url({% static 'images/2024-01-0110.52.37.png' %}"></div>
                        <h5 class="u-align-center u-text u-text-default u-text-3"> Более 1000 сотрудников</h5>
                     </div>
                  </div>
                  <div class="u-container-align-center u-container-style u-list-item u-repeater-item" >
                     <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                        <div class="custom-expanded u-align-center u-image u-image-circle u-preserve-proportions u-image-2" style = "background-image: url({% static 'images/2024-01-0110.52.16.png' %}"></div>
                        <h5 class="u-align-center u-text u-text-default u-text-4"> более 1 500<br>ВИДОВ АНАЛИЗОВ</h5>
                     </div>
                  </div>
                  <div class="u-container-align-center u-container-style u-list-item u-repeater-item" >
                     <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                        <div class="custom-expanded u-align-center u-image u-image-circle u-preserve-proportions u-image-3" style = "background-image: url({% static 'images/2024-01-0110.58.04.png' %}"></div>
                        <h5 class="u-align-center u-text u-text-default u-text-5"> более 18 000 000<br>ИССЛЕДОВАНИЙ</h5>
                     </div>
                  </div>
                  <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
                     <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                        <div class="custom-expanded u-align-center u-image u-image-circle u-preserve-proportions u-image-4" style = "background-image: url({% static 'images/2024-01-0110.53.32.png' %}"></div>
                        <h5 class="u-align-center u-text u-text-default u-text-6"> более 4 500 000<br>КЛИЕНТОВ</h5>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="u-align-center  u-palette-1-light-2 u-section-3">
         <div class="u-align-center u-container-align-center u-container-style u-group u-shape-rectangle u-white u-group-1">
            <div class="u-container-layout u-valign-top u-container-layout-1">
               <h2 class="u-align-center u-text u-text-default u-text-1" > Услуги</h2>
               <p class="u-align-center u-text u-text-body-color u-text-2" >«Каспер» располагает всеми возможностями предложить своим пациентам следующие услуги:</p>
            </div>
         </div>
         <div class="u-list u-list-1">
            <div class="u-repeater u-repeater-1">
               <div class="u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-style u-list-item u-repeater-item u-shape-rectangle u-white" >
                  <div class="u-container-layout u-similar-container u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-2">
                     <img class="u-expanded-width u-image u-image-default u-image-1" src="{% static 'images/2024-01-0110.55.30.png' %}" data-image-width="1102" data-image-height="1176">
                     <h5 class="u-align-center u-text u-text-default u-text-3"> Спортивная медицина</h5>
                     <p class="u-align-center u-text u-text-4"> Специфической областью медицины является спортивная медицина. Ее основная цель - оценка готовности спортсменов к соревнованиям, а также оценка состояния их здоровья. </p>
                     <a href="{% url 'sport'%}" class="u-active-palette-1-light-2 u-align-left u-border-2 u-border-active-black u-border-hover-black u-border-white u-btn u-button-style u-hover-palette-1-light-2 u-text-active-black u-text-hover-black u-text-palette-1-base u-white u-btn-1">Подробнее</a>
                  </div>
               </div>
               <div class="u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white">
                  <div class="u-container-layout u-similar-container u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-3">
                     <img class="u-expanded-width u-image u-image-default u-image-2" src="{% static 'images/2024-01-0110.54.57.png' %}" data-image-width="1102" data-image-height="1176">
                     <h5 class="u-align-center u-text u-text-default u-text-5"> Массаж</h5>
                     <p class="u-align-center u-text u-text-6"> Лечебный массаж полезен в период реабилитации. Он способствует быстрому восстановлению всех важных функций, а также улучшает самочувствие пациента.</p>
                     <a href="{% url 'massage'%}" class="u-active-palette-1-light-2 u-align-left u-border-2 u-border-active-black u-border-hover-black u-border-white u-btn u-button-style u-hover-palette-1-light-2 u-text-active-black u-text-hover-black u-text-palette-1-base u-white u-btn-2">Подробнее</a>
                  </div>
               </div>
               <div class="u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white" data-animation-direction="Up" >
                  <div class="u-container-layout u-similar-container u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-4">
                     <img class="u-expanded-width u-image u-image-default u-image-3" src="{% static 'images/2024-01-0110.55.47.png' %}" data-image-width="1102" data-image-height="1176">
                     <h5 class="u-align-center u-text u-text-default u-text-7">Анализы</h5>
                     <p class="u-align-center u-text u-text-8"> Любая диагностика заболеваний всегда начинается со сдачи анализов. Результаты лабораторных анализов могут очень
                        многое рассказать о здоровье человека.
                     </p>
                     <a href="{% url 'analyzes'%}" class="u-active-palette-1-light-2 u-align-left u-border-2 u-border-active-black u-border-hover-black u-border-white u-btn u-button-style u-hover-palette-1-light-2 u-text-active-black u-text-hover-black u-text-palette-1-base u-white u-btn-3">Подробнее</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class=" u-container-align-center u-white u-section-4">
         <div class=" u-sheet u-sheet-1">
            <h2 class="u-align-center u-text u-text-default u-text-1">Наши руководители</h2>
            <div class="u-expanded-width u-list u-list-1">
               <div class="u-repeater u-repeater-1">
                  <div class="u-align-left u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-style u-list-item u-repeater-item u-shape-rectangle">
                     <div class="u-container-layout u-similar-container u-valign-middle-lg u-container-layout-1">
                        <img class="u-border-5 u-border-palette-1-light-1 u-image u-image-circle u-preserve-proportions u-image-1" src="{% static 'images/2024-01-0115.16.31.png' %}" data-image-width="1330" data-image-height="1252" >
                        <div class=" u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group-elements u-group-elements-1">
                           <h6 class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-2">Артем Иванов</h6>
                           <p class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-3">Руководитель отдела реабилитации</p>
                        </div>
                     </div>
                  </div>
                  <div class="u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-style u-list-item u-repeater-item u-shape-rectangle">
                     <div class="u-container-layout u-similar-container u-valign-middle-lg u-container-layout-2">
                        <img class="u-border-5 u-border-palette-1-light-1 u-image u-image-circle u-preserve-proportions u-image-2"
                           src="{% static 'images/2024-01-0115.17.13.png' %}" data-image-width="1330" data-image-height="1252" >
                        <div class=" u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group-elements u-group-elements-2">
                           <h6 class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-4">Анна Пастернак</h6>
                           <p class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-5"> Руководитель отдела массажа</p>
                        </div>
                     </div>
                  </div>
                  <div class="u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-style u-list-item u-repeater-item u-shape-rectangle">
                     <div class="u-container-layout u-similar-container u-valign-middle-lg u-container-layout-3">
                        <img class="u-border-5 u-border-palette-1-light-1 u-image u-image-circle u-preserve-proportions u-image-3" src="{% static 'images/2024-01-0115.16.42.png' %}" data-image-width="1330" data-image-height="1252" >
                        <div class=" u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group-elements u-group-elements-3">
                           <h6 class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-6">Иван Андреев</h6>
                           <p class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-7">Руководитель диагностической медицины</p>
                        </div>
                     </div>
                  </div>
                  <div class="u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-style u-list-item u-repeater-item u-shape-rectangle">
                     <div class="u-container-layout u-similar-container u-valign-middle-lg u-container-layout-4">
                        <img class="u-border-5 u-border-palette-1-light-1 u-image u-image-circle u-preserve-proportions u-image-4" src="{% static 'images/2024-01-0115.16.36.png'%}" data-image-width="1330" data-image-height="1252" >
                        <div class=" u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group-elements u-group-elements-4">
                           <h6 class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-8"> Элизабет Игнатова</h6>
                           <p class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-9">Руководитель клиник</p>
                        </div>
                     </div>
                  </div>
                  <div class="u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-style u-list-item u-repeater-item u-shape-rectangle">
                     <div class="u-container-layout u-similar-container u-valign-middle-lg u-container-layout-5">
                        <img class="u-border-5 u-border-palette-1-light-1 u-image u-image-circle u-preserve-proportions u-image-5" src="{% static 'images/2024-01-0115.18.31.png'%}" data-image-width="1330" data-image-height="1252" >
                        <div class=" u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group-elements u-group-elements-5">
                           <h6 class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-10"> Игорь Мамонтов</h6>
                           <p class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-11">Руководитель отдела анализов</p>
                        </div>
                     </div>
                  </div>
                  <div class="u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-style u-list-item u-repeater-item u-shape-rectangle">
                     <div class="u-container-layout u-similar-container u-valign-middle-lg u-container-layout-6">
                        <img class="u-border-5 u-border-palette-1-light-1 u-image u-image-circle u-preserve-proportions u-image-6" src="{% static 'images/2024-01-0115.16.27.png'%}" data-image-width="1330" data-image-height="1252" >
                        <div class=" u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group-elements u-group-elements-6">
                           <h6 class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-12">Давид Парусов</h6>
                           <p class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-13">Руководитель спортивной медицины</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs  u-container-align-center u-palette-1-light-2 u-section-5">
         <div class=" u-sheet u-valign-middle u-sheet-1">
            <div class="data-layout-selected  u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
               <div class="u-layout">
                  <div class="u-layout-row">
                     <div class="u-container-align-left u-container-style u-layout-cell u-shape-rectangle u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                           <h2 class="u-align-left u-text u-text-default u-text-1"> Виды диагностики:</h2>
                           <p class="u-align-left u-text u-text-default u-text-2"> Посредством инновационных технологий становится возможным определять болезни на ранних стадиях, а также способствовать выявлению скрытых проблем, которые ранее диагностировались с большим трудом.</p>
                        </div>
                     </div>
                     <div class="u-container-style u-layout-cell u-shape-rectangle u-size-30 u-white u-layout-cell-2">
                        <div class="u-container-layout u-valign-middle u-container-layout-2">
                           <ul class="u-custom-list u-text u-text-3">
                              <li style="padding-left: 13px;">
                                 <div class="u-list-icon u-text-palette-1-base">
                                    <svg class="u-svg-content" viewBox="0 0 512 512">
                                       <path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z" fill="currentColor"></path>
                                    </svg>
                                 </div>
                                 <a class="u-active-none u-border-1 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1" target="_blank"> Функциональная диагностика</a>
                              </li>
                              <li style="padding-left: 13px;">
                                 <div class="u-list-icon u-text-palette-1-base">
                                    <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-ab8c">
                                       <path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z" fill="currentColor"></path>
                                    </svg>
                                 </div>
                                 <a class="u-active-none u-border-1 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2" target="_blank"> Рентгенологическая диагностика</a>
                              </li>
                              <li style="padding-left: 13px;">
                                 <div class="u-list-icon u-text-palette-1-base">
                                    <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-ab8c">
                                       <path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z" fill="currentColor"></path>
                                    </svg>
                                 </div>
                                 <a class="u-active-none u-border-1 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-3" target="_blank"> Магнитно-резонансная томография</a>
                              </li>
                              <li style="padding-left: 13px;">
                                 <div class="u-list-icon u-text-palette-1-base">
                                    <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-ab8c">
                                       <path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z" fill="currentColor"></path>
                                    </svg>
                                 </div>
                                 <a class="u-active-none u-border-1 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-4" target="_blank" > Ультразвуковая диагностика</a>
                              </li>
                              <li style="padding-left: 13px;">
                                 <div class="u-list-icon u-text-palette-1-base">
                                    <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-ab8c">
                                       <path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z" fill="currentColor"></path>
                                    </svg>
                                 </div>
                                 <a class="u-active-none u-border-1 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-5" target="_blank"> Радиоизотопная диагностика</a>
                              </li>
                              <li style="padding-left: 13px;">
                                 <div class="u-list-icon u-text-palette-1-base">
                                    <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-ab8c">
                                       <path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z" fill="currentColor"></path>
                                    </svg>
                                 </div>
                                 <a class="u-active-none u-border-1 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-6" target="_blank"> Эндоскопическая диагностика</a>
                              </li>
                              <li style="padding-left: 13px;">
                                 <div class="u-list-icon u-text-palette-1-base">
                                    <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-ab8c">
                                       <path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z" fill="currentColor"></path>
                                    </svg>
                                 </div>
                                 <a class="u-active-none u-border-1 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-7" target="_blank"> Компьютерная томография</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class=" u-section-6">
         <div class=" u-sheet u-sheet-1">
            <div class="custom-expanded data-layout-selected  u-gutter-20 u-layout-wrap u-layout-wrap-1">
               <div class="u-layout">
                  <div class="u-layout-row">
                     <div class="u-align-center u-container-align-center u-container-style u-layout-cell u-left-cell u-size-22-lg u-size-22-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1">
                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                           <div class="custom-expanded u-image u-image-circle u-image-1" style = "background-image: url({% static 'images/2024-01-0115.19.13.png' %}" data-image-width="1330" data-image-height="1252"></div>
                        </div>
                     </div>
                     <div class="u-align-left u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-align-left-lg u-container-align-left-xl u-container-style u-layout-cell u-right-cell u-size-38-lg u-size-38-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                           <h2 class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-1">Пациенту</h2>
                           <p class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-default u-text-2"> В соответствии с действующим законодательством Вы имеете право получить соответствующие виды и объемы медицинской помощи без взимания платы в рамках Программы государственных гарантий бесплатного оказания гражданам медицинской помощи и территориальной Программы государственных гарантий бесплатного оказания населению Тульской области медицинской помощи на 2023 год и на плановый период 2024 и 2025 годов в государственных учреждениях здравоохранения.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="u-align-center  u-palette-1-light-2 u-section-7">
         <div class="u-expanded-width u-shape u-shape-rectangle u-white u-shape-1"></div>
         <div class="u-align-center u-container-style u-group u-white u-group-1" >
            <div class="u-container-layout u-container-layout-1">
               <p class="u-text u-text-2">  Отправьте нам номер, и мы свяжемся с вами как можно скорее. Вы также можете связаться с нами по телефону (123) 456-7899.</p>
               <br>
               <br>
               <br>
               <form action="/save_phone/" method="POST">
                  {% csrf_token %}
                  <label for="phone">Телефон:</label>
                  <input type="text" id="phone" name="phone">
                  <input type="submit" value="Отправить">
               </form>
               <br>
               <p class="u-text u-text-2">ООО "Каспер" </p>
            </div>
         </div>
      </section>
   </body>
</html>